	<div class="jumbotron center">
		<h1>Dardano Designs</h1>

		</p><font face="La Belle aurore" color="#000000" size="10" > styling your space </p>	

	</div>
	<p align="center">&nbsp;</p>

	<p align="center">
 	

  	<p align="center">
  	<font face="Century Gothic" color="#999999" size="2.5">For more information, email us at <a href="mailto:christina@dardanodesigns.com;"style="color: #000000">info@DardanoDesign.com</a></font></p>


	<p align="center">
 	<font face="Century Gothic" size="1" color="#999999">©2014 DardanoDesign LLC</font></p>