<div class="jumbotron center">
	<div id="container">
    <div id="dummy"></div>
    <div id="element">
<img border="0" src="https://sites.google.com/site/buildgistics/_/rsrc/1400899710390/home/Logo%20vs.jpg" width="842" height="215" /></p>    </div>
</div>
</div>

  <p align="center">&nbsp;</p>
  <p align="center">
  <font face="Century Gothic">For more information, email <a href="mailto:mike@BuildGistics.com">Mike@BuildGistics.com</a></font></p>

  <p align="center">
  <font face="Century Gothic" size="2">©2014 BuildGistics LLC</font></p>